*
{
    box-sizing: border-box;
}
body
{
    background-color: #161647;
}
/*Comienzo Clases de Detalle de serie y peliculas */
.contenedor_general{
    display: flex;
    flex-direction: row;
    height: 150vh;
    border-radius: 15px;
    border: solid 6px #161647;

}
.izq{
    
    height: 85%;
    width: 30%;
    margin-right: 5vw;
    margin-top:7vh ;
    margin-left: 3vw;
    border-radius: 15px;
    
    
}
.der{
    
    height: 85%;
    width: 50%;
    margin-top:7vh ;
    border-radius: 15px;
    

}
.foto_detalles{
    border:solid 6px #FF1776;
    border-radius: 15px;
    flex-wrap: nowrap;
    width: 90%;
    margin-left: 5%;
}
.slogan_txt{
    color: #FF1776;
    font-family: 'Sono', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.titulo
{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    font-style: italic;
    margin-left:2.5vw;
    margin-top: 0vh;
    font-family: 'Sono', sans-serif;
    font-weight: 500;
    color: #FF1776;
}
.subtitulo{
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-style: italic;
    margin-left:2.5vw;
    margin-top: 12vh;
    font-family: 'Sono', sans-serif;
    font-weight: 400;
    color: #FF1776;
}
.txt{
    margin-left: 2.5vw;
    font-family: 'Sono', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 18px;
}
/*Fin css detalles de serie y peliculas*/
.buscador
{
   margin-right: 3%;
}
.buscador input
{
    padding: 0 20px;
    font-size: 15px;
    color: #FF1776;
    border:1.7px solid silver;
    border-radius: 20px;
    outline: none;
}
.urls
{
    color: #FF1776;
    text-decoration: none;
}
.buscador_
{
    height: 30px;
}
.header1
{
    display: flex;
    justify-content: center;
    list-style: none;  
    background-color: #24247E;
    background-size: 100%;
    border-radius: 15px;
    border:15px solid #24247E ;
    width: 98vw;
}
.logins
{
    margin-right:3%;
    color: #FF1776;
    font-size: 130%;
    font: 400 1rem/1.5625rem sans-serif;
    border:1.7px solid #161647;
    border-radius: 20px;
    padding:0 20px;
    height: 30px;
    background-color: #161647;
}
.logo
{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 7vw;  
    height: 40vh;
    margin-top: 5vh;
}
.log
{
    display: flex;
    width: 17vw;
    flex-wrap: nowrap;
}
.slogan
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font: 400 1rem/1.5625rem sans-serif;
    font-size:90px;
    font-style: italic;
    margin-left: 5vw;
    color: #FF1776;
}
.lista_elementos
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.lista_elementos_1
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.lista_elementos_2
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
}
.elementos_hijos
{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: transform .2s;
    width: 16vw;
    height: 60vh;
    margin-bottom: 3vh;
}
.elementos_hijos:hover
{
    transform: scale(1.1);
}
.amg
{
    border: solid 6px #FF1776 ;
    border-radius: 15px;
    width: 100%;
    height: 100%;
   
}
.menu
{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
width: 98vw;
margin-top: 14vh;
}
.titulos_seccion
{
    text-align: center;
    color: #FF1776;
    font: 400 1rem/1.5625rem sans-serif;
    margin-bottom: 7vh;
    font-size: 300%;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}
.botones_titulos
{
    color: white;
    text-decoration: none;
    text-align: center;
    font: 400 1rem/1.5625rem sans-serif;
    font-size: 15px;
}
.cartelera
{
    height: 85%;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #24247E;
    width: 98vw;
    height: 20vh;
    border-radius: 15px;
    color: #FF1776;
    font: 400 1rem/1.5625rem sans-serif;
}
.nombres
{
    margin: 60px;
}
.calif
{
    margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    align-items: center;
    font-size: 30px;
}
.estrellita
{
    display: none;
}
label
{
    display: inline-block;
    color: gray;
    transition: all 0.3s;
    cursor: pointer;
}
input:checked ~ label,
input:hover ~ label
{
    color: #FF1776;
}
.info
{
    font-size: 22px;
    margin-left: 11vw;
    font-family: 'Cinzel', serif;
    display: flex;
    flex-direction: row;  
}
.trailer
{
    margin-left: 13vw;
}
.cont
{
display: flex;
justify-content:flex-start;
flex-direction: row;
margin-top: 5vh;
}
.lista_genero
{   color: #FF1776;
    font: 400 1rem/1.5625rem sans-serif;
    font-style: italic;
    display: flex;
    flex-wrap: nrap;
    flex-direction: row;
    justify-items: center;
}
.genero_serie
{
    color:#FF1776 ; 
    font: 400 1rem/1.5625rem sans-serif;
    font-style: italic;
    margin-bottom: 3vh;
    font-size: 300%;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
    text-align:left;
    margin-left: 15vh;


}
.listaf
{
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 2vw;
   width: 16vw;
   height: 60vh;
   flex-wrap: nowrap;
}
.listaf:hover 
{
    transform: scale(1.1);
}
.letra 
{
    color: white;
    text-decoration: none;
    text-align: center;
    font: 400 1rem/1.5625rem sans-serif;


}
.lista_des
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    
}
.cajaizq 
{
    
    display: flex;
    width:50vw;
    height: 80vw;
    flex-direction: column;
    border-right:solid 6px #FF1776;
}
.cajader
{
    
    display: flex;
    width: 50vw;
    height: 80vw;
    flex-direction: column;
}
.com
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #24247E;
    border-radius: 15px;

}
.boton_peli
{
    width: 100%;
    height: 100%;
}
@media(max-width: 320px)
{
    .ult
    {
        display: none
    }
    .ante
    {
        display: none
    }
    .pen
    {
        display: none
    }
    .header1
    {
        display: flex;
        width: 30vw;
        flex-direction: column;
        align-items: center;
        background-size: 30%;
    }
    .logo
    {
        width: 50vw;
        align-items: center;
    }
    .slogan
    {
        display: none;
    }
    .log
    {
        width: 60vw;
    }
    .titulos_seccion
    {
        font-size: 150%;
    }
    footer
    {
        display: flex;
        width: 30vw;
        flex-direction: column;
        align-items: center;
    }
    .nombres
    {
        
        font-size: 10px;
        margin: 5px;
    }
    .logins
    {
        font-size: 50%;
        width: 30vw;
    }
    .buscador_
    {
        height: 15px;
    }
    .buscador input
    {
        font-size:10px ;
        width: 30vw;
    }
    .lista_elementos
    {
        flex-direction: column;
        justify-content: center;
    }
    .elementos_hijos
    {
        
        margin-right: 1vw;
        height: 40vh;
        width: 30vw;
    }
    .botones_titulos
    {
        font-size: 3px;
    }
    .lista_des
    {
        flex-direction: column;
    }
}
@media(max-width: 1000px)
{
    .ult
    {
        display: none
    }
    .slogan
    {
        font-size: 75px;
    }
    .lista_elementos
    {
    justify-content: center;
    }
    .elementos_hijos
    {
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .botones_titulos
    {
        font-size: 10px;
    }
    .header1
    {
        width: 95vw;
    }
    footer
    {
        width: 95vw;
    }
    .info
    {
        font-size:12px ;
    }
    .ulty
    {
        display: none
    }
    .cont
    {
       margin-bottom: 16vh; 
    }
}
@media(max-width: 1300px)
{
    .ulty
    {
        display: none
    }
}
